.CodeMirror,
.CodeMirror-scroll {
  background-color: #293134;
  color: #e0e2e4;
}
.CodeMirror-lines {
  padding: 5px 0;
}
/* Obsidian Colours */
.cm-atom, .CodeMirror-matchingbracket.cm-atom, .CodeMirror-matchingtag.cm-atom {
  color: #93c763 !important;
}
.cm-plus, .CodeMirror-matchingbracket.cm-plus, .CodeMirror-matchingtag.cm-plus {
  color: #e0e2e4 !important;
}
.cm-hr, .CodeMirror-matchingbracket.cm-hr, .CodeMirror-matchingtag.cm-hr {
  color: #e0e2e4 !important;
}
.cm-number, .CodeMirror-matchingbracket.cm-number, .CodeMirror-matchingtag.cm-number {
  color: #ffcd22 !important;
}
.cm-string, .CodeMirror-matchingbracket.cm-string, .CodeMirror-matchingtag.cm-string {
  color: #ec7600 !important;
}
.cm-string-2, .CodeMirror-matchingbracket.cm-string-2, .CodeMirror-matchingtag.cm-string-2 {
  color: #ec7600 !important;
}
.cm-attribute, .CodeMirror-matchingbracket.cm-attribute, .CodeMirror-matchingtag.cm-attribute {
  color: #93c763 !important;
}
.cm-keyword, .CodeMirror-matchingbracket.cm-keyword, .CodeMirror-matchingtag.cm-keyword {
  color: #93c763 !important;
}
.cm-tag, .CodeMirror-matchingbracket.cm-tag, .CodeMirror-matchingtag.cm-tag {
  color: #678cb1 !important;
}
.cm-bracket, .CodeMirror-matchingbracket.cm-bracket, .CodeMirror-matchingtag.cm-bracket {
  color: #678cb1 !important;
}
.cm-variable, .CodeMirror-matchingbracket.cm-variable, .CodeMirror-matchingtag.cm-variable {
  color: #e0e2e4 !important;
}
.cm-variable-2, .CodeMirror-matchingbracket.cm-variable-2, .CodeMirror-matchingtag.cm-variable-2 {
  color: #a082bd !important;
}
.cm-variable-3, .CodeMirror-matchingbracket.cm-variable-3, .CodeMirror-matchingtag.cm-variable-3 {
  color: #e0e2e4 !important;
}
.cm-builtin, .CodeMirror-matchingbracket.cm-builtin, .CodeMirror-matchingtag.cm-builtin {
  color: #93c763 !important;
}
.cm-quote, .CodeMirror-matchingbracket.cm-quote, .CodeMirror-matchingtag.cm-quote {
  color: #e0e2e4 !important;
}
.cm-def, .CodeMirror-matchingbracket.cm-def, .CodeMirror-matchingtag.cm-def {
  color: #a082bd !important;
}
.cm-rangeinfo, .CodeMirror-matchingbracket.cm-rangeinfo, .CodeMirror-matchingtag.cm-rangeinfo {
  color: #e0e2e4 !important;
}
.cm-property, .CodeMirror-matchingbracket.cm-property, .CodeMirror-matchingtag.cm-property {
  color: #e0e2e4 !important;
}
.cm-meta, .CodeMirror-matchingbracket.cm-meta, .CodeMirror-matchingtag.cm-meta {
  color: #e0e2e4 !important;
}
.cm-operator, .CodeMirror-matchingbracket.cm-operator, .CodeMirror-matchingtag.cm-operator {
  color: #e0e2e4 !important;
}
.cm-comment, .CodeMirror-matchingbracket.cm-comment, .CodeMirror-matchingtag.cm-comment {
  color: #7d8c93 !important;
}
.cm-error, .CodeMirror-matchingbracket.cm-error, .CodeMirror-matchingtag.cm-error {
  color: #dc322f !important;
}
.cm-minus, .CodeMirror-matchingbracket.cm-minus, .CodeMirror-matchingtag.cm-minus {
  color: #e0e2e4 !important;
}
.cm-header, .CodeMirror-matchingbracket.cm-header, .CodeMirror-matchingtag.cm-header {
  color: #e0e2e4 !important;
}
.cm-link, .CodeMirror-matchingbracket.cm-link, .CodeMirror-matchingtag.cm-link {
  color: #e0e2e4;
  text-decoration: none;
}
/* Extra CSS */
.CodeMirror-searching {
  background-color: #616161;
}
.CodeMirror-cursor {
  border-left: 1px solid #e0e2e4 !important;
}
.CodeMirror-gutters {
  background-color: #293134;
  border-right: none;
}
.CodeMirror-linenumber {
  color: #81969a;
}
.CodeMirror .CodeMirror-selected {
  background: #e0e2e4;
}
.CodeMirror-focused .CodeMirror-selected {
  background: #804000;
}
/*.CodeMirror-matchingbracket,
.CodeMirror-matchingtag {
  background-color: #e0e2e4;
  color: #293134 !important;
}*/
.CodeMirror-overwrite .CodeMirror-cursor {
  border-left: none !important;
  border-bottom: 1px solid #fff;
}
/* Non-editor styling */
.image-view,
.not-editor {
  background-color: #293134;
}
.view-pane .image-view {
  color: #e0e2e4;
}
.CodeMirror-matchingbracket, .CodeMirror-matchingtag {
  color: inherit !important;
  background-color: #4A4A4A !important;
  border-bottom: 2px solid red;
}
.CodeMirror-activeline .CodeMirror-activeline-background {
  /*color: #e0e2e4 !important;*/
  background-color: rgb(60, 60, 60) !important;
}

/* plugin suppot https://github.com/DennisKehrig/brackets-show-whitespace */
.cm-dk-whitespace-leading-space:before, .cm-dk-whitespace-leading-tab:before, .cm-dk-whitespace-tab:before {
    background-color:#5E5E5E !important
}
